// ***********************************
// LAYOUT
// ***********************************

// Flex Grid Rows
.container{
	max-width: 90%;
	margin: 0px auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 0px;
}

.row > *{
	background: #F4F3F0;
	flex: 1;
	margin: 0 10px;
}
